body {
    padding: 10%;
    font-size: 1.2rem;
    font-family: sans-serif;
    text-align: justify;
}

a {
    text-decoration: none;
    cursor: not-allowed;
    cursor: pointer;
    color: black;
}

a:visited {
    color: purple
}

a:hover, a:focus {
    color: palevioletred;
    text-decoration: underline;
    text-transform: uppercase;
    background: gold;
}

a:active {
    color: red;
}

